.navbar-nav > li > .dropdown-menu {
    background-color: #343a40;
}

.navbar-nav > li > .dropdown-menu > .dropdown-item {
    color: rgba(255, 255, 255, .75);
}

.navbar-nav > li > .dropdown-menu > .dropdown-item:hover {
    background-color: #343a40;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(0, 0, 10) !important;
}
